@import "../../../../assets/theme";
@import "~bootstrap/scss/bootstrap";

.calendar-btn {
  color: theme-color("primary");
  line-height: 0em;
  padding: 5px 10px;
}

.date-form {
  margin-bottom: 0;
}
