<div class="login-content">
  <app-card [cardTitle]="'Sign In'" [titleIcon]="'input'">
    <div *ngIf="timeOutMessage" class="row pl-4 pt-4 pr-4">
      <div class="col-12">
        <ngb-alert [dismissible]="false" [type]="'info'" class="text-center">
          Your session has expired. Please login again.
        </ngb-alert>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="p-4">
      <div class="form-group">
        <input
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="Email"
          type="email"
        />
        <div
          *ngIf="
            loginForm.get('email')?.dirty &&
            loginForm.get('email')?.hasError('required')
          "
          class="invalid-tooltip"
        >
          Please enter an email
        </div>
        <div
          *ngIf="
            loginForm.get('email')?.dirty &&
            loginForm.get('email')?.hasError('email')
          "
          class="invalid-tooltip"
        >
          Please enter a valid email address
        </div>
      </div>
      <div *ngIf="!isForgotPasswordView" class="form-group">
        <div class="input-group">
          <input
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            [type]="passwordView ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            id="password"
            placeholder="Password"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><span
                (mousedown)="passwordView = true"
                (mouseup)="passwordView = false"
                class="material-icons hand-cursor"
              >
                visibility
              </span></span
            >
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.dirty &&
              loginForm.get('password')?.hasError('required')
            "
            class="invalid-tooltip"
          >
            Password is required
          </div>
        </div>
      </div>
      <ngb-alert
        *ngIf="showError"
        [dismissible]="false"
        [type]="'danger'"
        class="text-center"
      >
        Invalid username or password
      </ngb-alert>
      <div class="action">
        <div class="action mt-2">
          <button type="submit" [disabled]="loading" class="btn btn-secondary login-btn">
            Submit
          </button>
          <div *ngIf="loading" class="ml-2 mt-1">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <button
          type="button"
          *ngIf="!isForgotPasswordView"
          class="btn btn-link btn-text-style"
          (click)="openForgotPasswordPage()"
        >
          Forgot Password
        </button>
      </div>
    </form>
  </app-card>
</div>
