[Unit]
Description=Gunicorn instance to serve sis portal
After=network.target

[Service]
User=sis-portal
Group=www-data
WorkingDirectory=/var/www/sis-portal/backend
Environment="PATH=/var/www/sis-portal/backend/sisportal-venv/bin"
ExecStart=/var/www/sis-portal/backend/sisportal-venv/bin/gunicorn --workers 3 --bind unix:sisportal.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target1