<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-row p-0 m-0">
    <div class="form-group col-12 p-0 m-0">
      <div class="font-weight-bold m-1 heading-text">
        New users must change their password.
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 p-1">
            <input
              class="form-control"
              type="password"
              id="password"
              formControlName="passwordFormControl"
              name="password"
              required
              (change)="resetPasswordField()"
            />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6 p-1">
            <input
              class="form-control"
              type="password"
              id="confirm-password"
              formControlName="confirmPasswordFormControl"
              name="confirm-password"
              required
              (change)="resetPasswordField()"
            />
            <label for="confirm-password">Confirm Password</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="form-row p-0 m-0">
    <div class="form-group col-12 p-0 m-0">
      <div class="font-weight-bold m-1 heading-text">
        Please fill in your user information.
      </div>
      <div class="container">
        <div class="row">
          <div class="col-5 p-1">
            <div
              *ngIf="
                (newPasswordForm.get('firstNameFormControl')?.dirty &&
                  !newPasswordForm.get('firstNameFormControl')?.valid) ||
                firstNameInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid First Name.
            </div>
            <input
              class="form-control"
              type="text"
              id="first-name"
              formControlName="firstNameFormControl"
              name="first-name"
              required
              [value]="prefill?.firstName"
              (change)="firstNameInvalid = false"
            />
            <label class="d-block mb-0" for="first-name">First Name</label>
          </div>
          <div class="col-2 p-1">
            <div
              *ngIf="
                newPasswordForm.get('middleInFormControl')?.dirty &&
                !newPasswordForm.get('middleInFormControl')?.valid
              "
              class="invalid-tooltip"
            >
              Must be a letter.
            </div>
            <input
              class="form-control"
              type="text"
              id="middle-initial"
              formControlName="middleInFormControl"
              name="middle-initial"
              [value]="prefill?.middleIn"
              maxlength="1"
            />
            <label class="d-block mb-0" for="middle-initial">MI</label>
          </div>
          <div class="col-5 p-1">
            <div
              *ngIf="
                (newPasswordForm.get('lastNameFormControl')?.dirty &&
                  !newPasswordForm.get('lastNameFormControl')?.valid) ||
                lastNameInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid Last Name.
            </div>
            <input
              class="form-control"
              type="text"
              id="last-name"
              formControlName="lastNameFormControl"
              name="last-name"
              required
              [value]="prefill?.lastName"
              (change)="lastNameInvalid = false"
            />
            <label class="d-block mb-0" for="last-name">Last Name</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row p-0 m-0" *ngIf="isStudent === true">
    <div class="form-group col-12 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col-8 p-1">
            <div
              *ngIf="
                (newPasswordForm.get('addressFormControl')?.dirty &&
                  !newPasswordForm.get('addressFormControl')?.valid) ||
                addressInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid Address.
            </div>
            <input
              type="text"
              class="form-control"
              id="address"
              formControlName="addressFormControl"
              name="address"
              required
              [value]="prefill?.address"
              (change)="addressInvalid = false"
            />
            <label class="d-block mb-0" for="address">Address</label>
          </div>
          <div class="col-4 p-1">
            <input
              class="form-control"
              type="text"
              id="address-2"
              formControlName="address2FormControl"
              name="address-2"
              [value]="prefill?.address2"
            />
            <label class="d-block mb-0" for="address-2">Apt/Unit</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row p-0 m-0" *ngIf="isStudent === true">
    <div class="form-group col-12 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col p-1">
            <div
              *ngIf="
                (newPasswordForm.get('cityFormControl')?.dirty &&
                  !newPasswordForm.get('cityFormControl')?.valid) ||
                cityInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid City.
            </div>
            <input
              class="form-control"
              type="text"
              id="city"
              formControlName="cityFormControl"
              name="city"
              required
              (change)="cityInvalid = false"
            />
            <label class="d-block mb-0" for="city">City</label>
          </div>
          <div class="col p-1">
            <select
              [value]="'MI'"
              class="form-control"
              formControlName="stateFormControl"
              id="state"
              required
              (change)="stateInvalid = false"
            >
              <option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </option>
            </select>
            <label class="d-block mb-0" for="address">State</label>
            <div *ngIf="stateInvalid === true" class="invalid-tooltip">
              Please choose a State.
            </div>
          </div>
          <div class="col p-1">
            <input
              class="form-control"
              type="text"
              id="zip-code"
              formControlName="zipCodeFormControl"
              name="zip-code"
              required
              maxlength="5"
              (change)="zipCodeInvalid = false"
            />
            <label class="d-block mb-0" for="zip-code">Zip Code</label>
            <div
              *ngIf="
                (newPasswordForm.get('zipCodeFormControl')?.dirty &&
                  !newPasswordForm.get('zipCodeFormControl')?.valid) ||
                zipCodeInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid Zip Code.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row p-0 m-0" *ngIf="isStudent === true">
    <div class="form-group col-12 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col p-1">
            <input
              class="form-control"
              type="text"
              id="country"
              formControlName="countryFormControl"
              name="country"
              required
              (change)="countryInvalid = false"
            />
            <label class="d-block mb-0" for="country">Country</label>
            <div
              *ngIf="
                (newPasswordForm.get('countryFormControl')?.dirty &&
                  !newPasswordForm.get('countryFormControl')?.valid) ||
                countryInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Valid Country.
            </div>
          </div>
          <div class="col p-1">
            <input
              class="form-control"
              type="text"
              id="phone-number"
              formControlName="phoneNumberFormControl"
              name="phone-number"
              required
              maxlength="10"
              [value]="prefill?.telephone"
              (change)="phoneNumberInvalid = false"
            />
            <label class="d-block mb-0" for="phone-number">Telephone</label>
            <div
              *ngIf="
                (newPasswordForm.get('phoneNumberFormControl')?.dirty &&
                  !newPasswordForm.get('phoneNumberFormControl')?.valid) ||
                phoneNumberInvalid === true
              "
              class="invalid-tooltip"
            >
              Please enter a valid phone number.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row p-0 m-0" *ngIf="isStudent === true">
    <div class="form-group col-12 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col p-1">
            <input
              class="form-control"
              type="text"
              id="secondary_email"
              formControlName="secondary_emailFormControl"
              name="secondary_email"
              required
              (change)="secondary_emailInvalid = false"
            />
            <label class="d-block mb-0" for="secondary_email">Secondary Email</label>
            <div
              *ngIf="
                (newPasswordForm.get('secondary_emailFormControl')?.dirty &&
                  !newPasswordForm.get('secondary_emailFormControl')?.valid) ||
                secondary_emailInvalid === true
              "
              class="invalid-tooltip"
            >
              Please Enter a Secondary Email.
            </div>
          </div>
          <div class="col p-1">
            <input
              class="form-control"
              type="text"
              id="linkedin"
              formControlName="linkedinFormControl"
              name="linkedin"
              maxlength="10"
              [value]="prefill?.telephone"
              (change)="linkedinInvalid = false"
            />
            <label class="d-block mb-0" for="linkedin">LinkedIn URL</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-secondary mt-3">Submit</button>
  </div>
  <div class="mt-2 d-flex justify-content-center">
    <div
      *ngIf="passwordInvalid === true"
      class="alert alert-danger d-flex justify-content-center p-3 m-3"
    >
      Please enter a password.
    </div>
    <div
      *ngIf="differentPasswords === true"
      class="alert alert-danger d-flex justify-content-center p-3 m-3"
    >
      Please make sure the passwords match.
    </div>
    <div *ngIf="sending === true">
      <div class="spinner-border text-primary p-3 m-3" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-center">
      <div *ngIf="sending === true">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div> -->
    <div
      *ngIf="
        passwordInvalid !== true &&
        confirmPasswordInvalid !== true &&
        differentPasswords !== true &&
        sending !== true
      "
      style="visibility: hidden"
      class="alert alert-danger p-3 m-3"
    >
      -
    </div>
  </div>
</form>
