.warning-btn{
    background-color: #FF2E2E;
    margin-left: 20px;
}

.heading-text{
    font-size: 2vh;
}

.reset-password-content {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 15vh;
  }

  .error-text{
    font-weight: bold;
    color:red;
}

.heading-text{
    font-size: 2vh;
}

.invalid-tooltip {
    display: block;
    top: 65%;
    left: auto;
  }
  
  label {
    font-size: 1.2em;
    margin-top: 2px;
  }
  
  .form-check {
    label {
      margin: 0;
    }
  }
  
  h6 {
    margin: 0;
    padding: 0;
  }
  
  .btn-link {
    padding: 0;
    line-height: normal;
  
    .material-icons {
      line-height: 30px;
    }
  }
  
  .requisite-list {
    list-style: none;
    font-size: 1.2em;
  }
  
  .course-editor {
    min-height: 300px;
  }