<div class="row">
  <div class="col-md-5 col-xs-12">
    <app-card [cardTitle]="'Terms'" [titleIcon]="'date_range'">
      <app-term-table></app-term-table>
    </app-card>
    <br />
    <app-card [cardTitle]="'Grades'" [titleIcon]="'grade'">
      <app-grade-table></app-grade-table>
    </app-card>
  </div>
  <div class="col-md-7 col-xs-12">
    <app-card [cardTitle]="'Term Courses'" [titleIcon]="'date_range'">
      <app-term-course-table></app-term-course-table>
    </app-card>
  </div>
</div>
