.main-nav {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  justify-content: space-between;

  .navbar-text {
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand {
    height: 100%;

    img.desktop-logo {
      height: 100%;
      width: auto;
      display: block;
    }

    img.mobile-logo {
      display: none;
    }
  }
}

.logout-btn {
  margin-top: -20px;
  margin-left: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1em;

  span {
    display: block;
  }
}

h1.title {
  color: #fff;
  font-size: 2.5em;
  font-family: "StoneSerif", serif;
}


@media (max-width: 992px) {
  .main-nav {
    position: static;
    height: 60px;
    padding: 5px 15px;

    .navbar-brand {
      img.desktop-logo {
        display: none;
      }

      img.mobile-logo {
        display: block;
        height: 40px;
      }
    }
  }
  h1.title {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .logout-btn {
    display: none;
  }
}
