<html>
    <body>
        <h1>Welcome to The School of Information Sciences!</h1>
        <p>In order to log into the SIS Portal, please log in with the given credentials:</p>
        <p style="font-weight: bold; font-size: large;">Email: {{ email }}</p>
        <p style="font-weight: bold; font-size: large;">Temporary Password: {{ password }}</p>
        <a href="{{ url }}" target="_blank" style="text-decoration: none; padding:10px; cursor: pointer;">
            Take Me To The Login Page
        </a>
    </body>
</html>