<form class="info-form">
  <div class="form-row">
    <div class="form-group col-5">
      <input type="text" id="first_name" class="form-control" />
      <label for="first_name">First Name</label>
    </div>
    <div class="form-group col-2">
      <input type="text" id="middle_in" class="form-control" />
      <label for="middle_in">Mid In.</label>
    </div>
    <div class="form-group col-5">
      <input type="text" id="last_name" class="form-control" />
      <label for="last_name">Last Name</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <select id="specialization" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      <label for="specialization">Specialization</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <input type="text" id="address_1" class="form-control" />
      <label for="address_1">Address 1</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <input type="text" id="address_2" class="form-control" />
      <label for="address_2">Address 2</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <input type="text" id="city" class="form-control" />
      <label for="city">City</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <select id="state" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      <label for="state">State</label>
    </div>
    <div class="form-group col-6">
      <input type="text" id="Zip" class="form-control" />
      <label for="city">Zip</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <select id="country" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      <label for="country">Country</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <input type="text" id="telephone" class="form-control" />
      <label for="telephone">Telephone</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <input type="text" id="email" class="form-control" />
      <label for="telephone">Email</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <select id="first-class" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      <label for="first-class">First SIS Class Taken</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <select id="orientation-term" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      <label for="orientation-term">
        Term/Year of Orientation Completed
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
