@import "../../../../assets/theme";
@import "~bootstrap/scss/bootstrap";

nav.flex-change {
  flex-direction: column;
}

.side-nav {
  align-items: flex-start;
  min-height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  width: 100px;
  margin-bottom: -40px;
  padding-top: 20px;
  background-color: theme-color("dark-gray");
}

@media (max-width: 992px) {
  nav.flex-change {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .side-nav {
    position: fixed;
    padding: 5px 10px;
    z-index: 9999;
    width: 100%;
    min-height: auto;
    height: 70px;
    overflow: hidden;
    bottom: 40px;
  }
}
